# Prerequisites
*.d

# Simulation files
*.dbs
*.dat
*.psm
*.prw
*.wlf
*.mpf
*.mti

# Simulation folder
/iterative_multiplier/work/
/standard_multiplier/work/
/adder/work/
/basic_multiplier/work/
/register/work/
/shift_register/work/
simulations/
components/adder/work/
components/leftshift/work/
components/multiplier/work/
components/register/work/
components/rightshifter/work/
components/shift_register/work/
iterative_multiplier/res/work/
iterative_multiplier/bm_sel/work/
iterative_multiplier/m_sel/work/

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
